<h2>Create new movie</h2>

<form method="POST" action="/movies/create">

  <input type="text" name="title" />
  <input type="text" name="genre" />
  <input type="text" name="plot" />
  <select name="cast" multiple>
    
    {{#each celebrities}}
      <option value={{this._id}}>{{this.name}}</option>
    {{/each}}
  </select>

  <button type="submit">Submit</button>

</form>